<div class="container custom-container-2">
  <spinner></spinner>
    <!-- Show it when there is no historial -->
    <div class="no-data text-center" *ngIf="historialsHeader == 0">
      <p>Todavía no hay pedidos</p>
     <!-- <button class="btn btn-outline-primary" routerLink="/create-historial">
        Add Historial
      </button> -->
    </div>
    <!-- Historials
          $response[$i]['order_id'] = $row['order_id'];
      $response[$i]['post_date'] = $row['post_date'];
      $response[$i]['billing_email'] = $row['billing_email'];
      $response[$i]['_billing_first_name'] = $row['_billing_first_name'];
      $response[$i]['_billing_last_name'] = $row['_billing_last_name'];
      $response[$i]['order_total'] = $row['order_total'];
      $response[$i]['order_items'] = $row['order_items'];
    -->
    <div *ngIf="historialsHeader !== 0">
       <br>
       <hr>
      <h3 class="mb-3 text-center">Listado Pedidos</h3>
      <hr>
      <div class="col-md-12">
        <table datatable [dtOptions]="dtoptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col">order_id</th>
              <th scope="col">fecha</th>
              <th scope="col">email</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellidos</th>
              <th scope="col">Total</th>
              <th scope="col">Productos</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let historial of historialsHeader">
              <td>{{ historial.order_id  }}</td>
              <td>{{ historial.post_date }}</td>
              <td>{{ historial.billing_email }}</td>
              <td>{{ historial._billing_first_name  }}</td>
              <td>{{ historial._billing_last_name }}</td>
              <td>{{ historial.order_total }}</td>
              <td>{{ historial.order_items }}</td>
             <!--  <td>
               <a class="edit" routerLink="/history-edit/{{ historial.id }}" class="btn btn-primary">Editar</a>
                <a class="delete" (click)="deleteHistorial(historial.id)" class="btn btn-danger">Eliminar</a>
              </td>-->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
